pwdlib[argon2]==0.2.1
fastapi-mail>=1.4.1
pydantic==2.12.5
pydantic-settings>=2.2.1
fastapi>=0.104.0
uvicorn[standard]>=0.24.0
SQLAlchemy>=2.0.0
aiomysql>=0.2.0
aiosmtplib>=3.0.1
PyJWT>=2.8.0
langchain-deepseek==1.0.1
langchain==1.1.0
loguru>=0.7.0
python-dotenv>=1.0.0
pyyaml>=6.0.0
python-multipart>=0.0.9
dashscope>=1.14.0
redis>=5.0.0